/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bg-body.png);
}
a {
	outline:none;
}
a img {
	border:0;
	display:block;
}
a img:hover {
	filter:alpha(opacity=80);/* Needed for IE7 */
	opacity:0.8;
}
.background {
	background:url(../images/bg-background.jpg) no-repeat center top;
}
p a:hover {
	color:#388070!important;
}
.page {
	width:960px;
	margin:0 auto;
	padding:22px 0 0;
}
a#logo {
	color: #FFFFFF;
	display: block;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 30px;
	letter-spacing: 0.05em;
	margin: 0 0 35px;
	text-decoration: none;
	text-transform: uppercase;
}
/*------------------------- Sidebar -------------------------*/
.sidebar {
	float:left;
	width:240px;
}
.sidebar ul {
	list-style:none;
	margin:0 0 49px;
	overflow:hidden;
	padding:0;
}
.sidebar ul li {
	float:left;
	margin:0 20px 13px 0;
	width:100px;
}
.sidebar ul li a {
	background:url(../images/bg-nav.png) repeat-x;
	border-color:#126663;
	border-radius:5px;
	border-style:none solid;
	border-width:1px;
	color:#fff;
	display:block;
	font-size:12px;
	height:36px;
	line-height:35px;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:100px;
}
.sidebar ul li.selected a {
	background:url(../images/bg-nav-selected.png) repeat-x;
	color:#fbf8d5;
}
.sidebar ul li a:hover {
	color:#fbf8d5;
}
.sidebar div.first {
	margin-bottom:11px;
}
.sidebar div.first div {
	padding: 5px 14px;
}
.sidebar div.first div h3 {
	margin:8px 0 11px;
}
.sidebar div.first div p {
	margin:9px 0 7px;
}
.sidebar div {
	background-color:#f7f7f7;
	border:1px solid #cec596;
	border-radius:5px;
	margin:0 0 16px;
	padding:5px;
	width:210px;
}
.sidebar div div {
	background-color:#fff;
	border:0;
	border-radius:0;
	margin:0;
	padding:5px 14px 39px;
	width:auto;
}
.sidebar div div h3 {
	color:#334559;
	font-size:14px;
	line-height:24px;
	margin:8px 0 0;
}
.sidebar div div h3 a {
	color:#1e8480;
}
.sidebar div div p {
	color:#6d737a;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.sidebar div div img {
	display:block;
	margin: 0 0 7px;
}
.sidebar div div p a {
	color:#1e8480;
	text-decoration:none;
}
.sidebar div div p a:hover {
	text-decoration:underline;
}
/*------------------------- Body ---------------------------*/
.body {
	float:left;
	margin:0 0 16px;
	width:720px;
}
.body .home {
	background:url(../images/bg-page-content.png) no-repeat left bottom;
	overflow:hidden;
	padding:0 0 10px;
}
.body .home .featured {
	width:auto;
}
.body .home .featured div {
	background:none #303943;
	height:100px;
	padding:0 30px 0 20px;
	width:auto;
}
.body .home .featured div p {
	color:#fff;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:18px;
	line-height:30px;
	margin:0;
	padding:15px 0 0;
}
.body .home .featured div p a {
	color:#1e8480;
	display:inline;
	margin:0;
	text-decoration:none;
}
.body .home div {
	background:url(../images/bg-home.png) repeat-y;
	float:left;
	width:720px;
}
.body .home div div:first-child {
	background:none;
	padding:0;
	width:auto;
}
.body .home div div {
	background:none;
	padding:0 20px;
	width:220px;
}
.body .home div div div:first-child {
	background:url(../images/bg-border.png) repeat-x left bottom;
}
.body .home div div:first-child div:first-child {
	padding-bottom:30px!important;
}
.body .home div div:first-child div {
	padding-bottom:16px !important;
}
.body .home div div div {
	float:none;
	margin:0 0 0 1px;
	overflow:hidden;
	padding:0 20px!important;
	width:418px;
}
.body .home div div div h4 {
	color:#bca944;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	margin:0;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home div div div h3 {
	color:#334559;
	display:block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:26px;
	margin:0;
	text-decoration:none;
}
.body .home div div div h2 {
	color:#334559;
	display:block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:26px;
	margin:0;
	text-decoration:none;
}
.body .home div div div h3 a {
	color:#1e8480;
	display:inline;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:26px;
	margin:0;
	text-decoration:none;
}
.body .home div div div span {
	background-color:#fff;
	border:1px solid #ccc392;
	border-radius:5px;
	clear:both;
	display:inline-block;
	float:left;
	margin:5px 0 0;
	padding:2px;
}
.body .home div div div span a {
	background:url(../images/bullet.jpg) no-repeat 105px center #faf2c6;
	color:#8d7c20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #fef9df;
	text-transform:uppercase;
}
.body .home div div div span a:hover {
	background:url(../images/bullet.jpg) no-repeat 105px center #f4ed9f;
	color:#8d7c20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #fef9df;
	text-transform:uppercase;
}
.body .home div div div:first-child p {
	float:left;
	width:418px;
}
.body .home div div div:first-child p a {
	float:right;
	margin: 6px 0 0 5px;
}
.body .home div div div p {
	color:#6D737A;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.body .home div div div p a {
	color:#1e8480;
	float:none;
	margin:0;
	text-decoration:none;
}
.body .home div div div a {
	display:block;
	float:left;
	margin:10px 0 0;
}
.body .home div div div ul {
	list-style:none;
	margin:23px 0 0;
	overflow:hidden;
	padding:0;
}
.body .home div div div ul li:first-child {
	border:0;
}
.body .home div div div ul li:first-child p {
	margin:0 28px 0 0 !important;
}
.body .home div div div ul {
	list-style:disc;
	padding: 0 0 0 14px;
	width: 345px;
	margin:0;
}
.body .home div div div ul li {
	background:none;
	float:none;
	padding:0;
	width:auto;
	color:#707070;
	font-size:14px;
	line-height:24px;
}
.body .home div div div ul li p {
	margin:0 0 0 35px !important;
}
.body .home div div h4 {
	color:#BCA944;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	margin:0 0 17px;
	text-decoration:none;
	text-transform:uppercase;
}
.body .home div div a {
	display:block;
	margin:15px 0 17px;
}
.body .home div div ul li a {
	color:#6D737A;
	font-size:14px;
	line-height:24px;
	margin:0;
	text-decoration:none;
}
.body .home div div span a {
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #faf2c6;
	color:#8D7C20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .home div div span a:hover {
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #f4ed9f;
	color:#8D7C20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .about {
	background:url(../images/bg-page-content2.png) no-repeat left bottom;
	padding:0 0 10px;
}
.body .about div {
	background:url(../images/bg-page-content2-top.png) no-repeat left top;
	padding:6px 0 0;
}
.body .about div div {
	background:url(../images/bg-content.png) repeat-y left top;
	padding:17px 0 0;
}
.body .about div div:first-child div {
	background:none;
	padding:0 0 9px;
}
.body .about div div div {
	background:url(../images/bg-border.png) repeat-x left top;
	margin:0 0 0 1px;
	padding:28px 0 9px;
	width:718px;
}
.body .about div div div h3 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:24px;
	font-weight:400;
	margin:0;
	padding:0 20px;
	text-transform:uppercase;
}
.body .about div div div h3 a {
	color:#334559;
	font-size:24px;
}
.body .about div div div p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:11px 0 0;
	padding:0 20px;
}
.body .about div div.section {
	min-height:360px;
}
.body .about div div.section img {
	display:block;
	float:left;
	margin:25px 34px 0 45px;
}
.body .about div div.section div {
	padding-top:0;
}
.body .about div div.section div div {
	float: left;
	padding: 30px 0 0;
	width: 430px;
}
.body .about div div.section div h4 {
	color:#bca944;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	margin:8px 0 4px;
	padding:0 54px 0 0;
	text-transform:uppercase;
}
.body .about div div.section div h3 {
	color:#334559;
	font-size:16px;
	line-height:26px;
	padding:0 54px 0 0;
	text-transform:none;
}
.body .about div div.section div h3 a {
	color:#1e8480;
	font-size:16px;
	text-decoration:none;
	text-transform:none;
}
.body .about div div.section div p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:6px 0 0;
	padding:0 54px 0 0;
}
.body .about div div.section div span {
	background-color:#FFF;
	border:1px solid #CCC392;
	border-radius:5px 5px 5px 5px;
	display:inline-block;
	float:left;
	margin:14px 0 34px;
	padding:2px;
}
.body .about div div.section div span a {
	background:url(../images/bullet.jpg) no-repeat scroll 99px center #FAF2C6;
	color:#8D7C20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 31px 0 12px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .about div div.section div span a:hover {
	background:url(../images/bullet.jpg) no-repeat scroll 99px center #f4ed9f;
	color:#8d7c20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 31px 0 12px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .blog div div {
	background:url(../images/bg-blog-page-content.png) repeat-y scroll left top transparent;
	overflow:hidden;
	padding:0;
}
.body .blog div div div:first-child {
	margin:0;
	padding:0 20px 61px;
	width:440px;
}
.body .blog div div div:first-child span {
	color:#707070;
	display:block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:17px 0 0;
}
.body .blog div div div:first-child h3 {
	color:#334559;
	font-size:14px;
	line-height:24px;
	margin:4px 0 0;
	font-weight:normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
.body .blog div div div:first-child p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:0;
}
.body .blog div div div:first-child img {
	display:block;
	margin:20px 0 24px;
}
.body .blog div div div {
	background:none;
	float:left;
	padding:0 20px;
	width:200px;
}
.body .blog div div div:first-child h4 {
	margin:26px 0 11px;
}
.body .blog div div div h4 {
	color:#bca944;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	letter-spacing:.05em;
	line-height:26px;
	margin:26px 0 8px;
	text-transform:uppercase;
}
.body .blog div div div div {
	margin:16px 0 0;
	padding:0!important;
	width:auto!important;
}
.body .blog div div div div ul {
	list-style:none;
	margin:-5px 0 0;
	padding:0;
}
.body .blog div div div div ul li {
	background:url(../images/bullet2.png) no-repeat scroll left 8px transparent;
	padding:0 0 0 20px;
}
.body .blog div div div div ul li p:first-child {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:0!important;
}
.body .blog div div div div ul li p:first-child a {
	text-decoration:none;
	color:#707070;
}
.body .blog div div div div ul li p:first-child a:hover {
	color:#707070!important;
	text-decoration:underline;
}
.body .programs div div {
	background:url(../images/bg-content.png) repeat-y scroll left top transparent;
	overflow:hidden;
	padding:0;
}
.body .programs div div div:first-child {
	overflow:hidden;
	padding:15px 20px 45px;
}
.body .programs div div div:first-child h4 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:28px;
	margin:0;
	text-transform:uppercase;
}
.body .programs div div div:first-child h3 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:26px;
	margin:9px 0 25px;
}
.body .programs div div div:first-child p {
	color:#707070;
	float:left;
	font-size:14px;
	line-height:24px;
	margin:0 20px 0 0;
	width:405px;
}
.body .programs div div div:first-child ul {
	float:left;
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
	width: 245px;
}
.body .programs div div div:first-child ul li p {
	color:#707070;
	float:none;
	font-size:14px;
	line-height:24px;
}
.body .programs div div div.featured {
	background:url(../images/bg-programs-featured.png) repeat-x left top;
	height:331px;
	margin:0 1px;
	position:relative;
}
.body .programs div div div.featured img {
	margin:16px 0 0;
}
.body .programs div div div.featured p {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	line-height:26px;
	position:absolute;
	right:31px;
	text-align:right;
	top:68px;
	width:228px;
}
.body .programs div div div.featured span {
	background-color:#FFF;
	border:1px solid #CCC392;
	border-radius:5px 5px 5px 5px;
	clear:both;
	display:inline-block;
	float:left;
	margin:18px 0 30px;
	padding:2px;
	position:absolute;
	right:31px;
	top:205px;
}
.body .programs div div div.featured span a {
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #FAF2C6;
	color:#8D7C20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .programs div div div.featured span a:hover {
	color:#8d7c20;
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #f4ed9f;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .programs div div div.section {
	padding:0 20px 24px;
}
.body .programs div div div.section h4 {
	color:#bca944;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	margin:23px 0 0;
	text-transform:uppercase;
}
.body .programs div div div.section ul li {
	float:left;
	margin:0 0 50px;
	width:305px;
}
.body .programs div div div.section ul li h3 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:26px;
	margin:5px 0 0;
}
.body .programs div div div.section ul li p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:7px 0 0;
	width:230px;
}
.body .services div div div:first-child {
	background:url(../images/bg-border.png) repeat-x left bottom;
	margin:0 0 0 1px;
	padding:15px 20px 39px;
	width:678px;
}
.body .services div div div:first-child h3 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:26px;
	margin:8px 0 0;
}
.body .services div div div:first-child ul li {
	background:url(../images/bullet2.png) no-repeat scroll left 6px transparent;
	float:left;
	padding:0 0 0 20px;
	width:300px;
}
.body .services div div div:first-child ul li p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:0 20px 0 0;
	width: 245px;
}
.body .services div div div {
	background:url(../images/bg-home.png) repeat-y left top;
	overflow:hidden;
}
.body .services div div div div:first-child {
	background:none;
	padding-bottom:23px;
	width:418px;
	padding-top: 20px;
}
.body .services div div div div:first-child h4 {
	font-weight:400;
	line-height:26px;
	margin: 0 0 10px;
}
.body .services div div div div {
	background:none;
	float:left;
	padding:0 20px;
	width:220px;
}
.body .services div div div div h4 {
	color:#bca944;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	text-transform:uppercase;
}
.body .services div div div div ul li {
	background:url(../images/bullet2.png) no-repeat scroll left 6px transparent;
	float:left;
	margin:24px 0 0;
	padding:0 0 0 20px;
}
.body .services div div div div ul li p a {
	color:#1e8480;
	text-decoration:none;
}
.body .contact div div div:first-child {
	background:url(../images/bg-border.png) repeat-x scroll left bottom transparent;
	margin:0 0 0 1px;
	padding:15px 20px 28px;
	width:678px;
}
.body .contact div div div:first-child h3 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:400;
	line-height:26px;
	margin:9px 0 13px;
}
.body .contact div div div:first-child table {
	margin:22px 0 0;
}
.body .contact div div div:first-child table tr td {
	width:300px;
}
.body .contact div div div:first-child table tr td span {
	color:#334559;
	display:block;
	font-size:14px;
	font-weight:700;
	line-height:24px;
}
.body .contact div div div:first-child table tr td:first-child {
	display:block;
	margin:0;
	width:300px;
}
.body .contact div div div:first-child table tr td:first-child p {
	display:block;
	width:240px;
}
.body .contact div div div:first-child table tr td p {
	margin:0 0 20px;
}
.body .contact div div div {
	background:url(../images/bg-home.png) repeat-y scroll left top transparent;
	overflow:hidden;
}
.body .contact div div div div:first-child {
	background:none;
	padding-top:7px;
	width:418px;
}
.body .contact div div div div:first-child form {
	padding:13px 0 0;
	width:371px;
}
.body .contact div div div div:first-child form label:first-child {
	margin-top:0;
}
.body .contact div div div div:first-child form label {
	color:#636466;
	display:block;
	font-size:14px;
	margin:7px 0;
}
.body .contact div div div div:first-child form input {
	border:1px solid #b2b2b2;
	color:#1E8480;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:20px;
	line-height:20px;
	padding:4px 5px;
	width:359px;
}
.body .contact div div div div:first-child form textarea {
	border:1px solid #b2b2b2;
	color:#1E8480;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:237px;
	margin:0;
	overflow:auto;
	padding:5px;
	resize:none;
	width:359px;
}
.body .contact div div div div:first-child form span input {
	background:url(../images/bullet.jpg) no-repeat scroll 55px center #FAF2C6;
	border:0;
	color:#8D7C20;
	cursor:pointer;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	height:26px;
	line-height:26px;
	margin:0;
	padding:0 25px 2px 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
	width:75px;
}
.body .contact div div div div:first-child form span input:hover {
	color:#8d7c20;
	background:url(../images/bullet.jpg) no-repeat scroll 55px center #f4ed9f;
}
.body .contact div div div div {
	background:none repeat scroll 0 0 transparent;
	float:left;
	padding:0;
	width:260px;
}
.body .contact div div div div div:first-child {
	background:url(../images/bg-border.png) repeat-x scroll left bottom transparent;
	margin:0 0 0 1px;
	padding:0 20px 42px;
	width:auto;
}
.body .contact div div div div div:first-child h4 {
	font-size:14px;
	font-weight:400;
	margin:7px 0 0;
}
.body .contact div div div div div:first-child h3 {
	margin-bottom:0;
	margin-top:0;
}
.body .contact div div div div div h4 {
	color:#BCA944!important;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif!important;
	font-size:14px!important;
	line-height:26px!important;
	margin:8px 0 0;
	text-transform:uppercase!important;
}
.body .contact div div div div div h3 {
	color:#334559!important;
	font-size:16px!important;
	font-weight:700!important;
	line-height:26px!important;
	margin:0;
}
.body .contact div div div div div:first-child p {
	margin:0;
}
.body .contact div div div div div span {
	background-color:#FFF;
	border:1px solid #CCC392;
	border-radius:5px 5px 5px 5px;
	clear:both;
	display:inline-block;
	float:left;
	margin:12px 0 0;
	padding:2px;
}
.body .contact div div div div div {
	padding:0 20px 65px;
	width:auto;
}
.body .contact div div div div div ul li {
	background:url(../images/bullet2.png) no-repeat scroll left 6px transparent;
	margin:0;
	padding:0 0 0 20px;
}
.body .home .featured img, .body .services div div div div:first-child img {
	display:block;
}
.body .home .featured div p a:hover, .body .home div div div h4 a:hover, .body .home div div div h3 a:hover, .body .home div div div p a:hover, .body .home div div ul li a:hover, .body .about div div div p a:hover, .body .about div div.section div h3 a:hover, .body .about div div.section div p a:hover, .body .blog div div div:first-child h3 a:hover, .body .blog div div div:first-child p a:hover, .body .programs div div div:first-child h3 a:hover, .body .programs div div div:first-child p a:hover, .body .services div div div:first-child h3 a:hover, .body .services div div div:first-child ul li p a:hover, .body .services div div div:first-child p a:hover, .body .services div div div div ul li p a:hover, .body .contact div div div:first-child h3 a:hover, .body .contact div div div:first-child p a:hover {
	text-decoration:underline;
}
.body .home div div div h4, .body .home div div h4 {
	margin:17px 0 2px;
}
.body .home div div ul, .body .services div div div div ul, .body .contact div div div div div ul {
	list-style:none;
	margin:0;
	padding:0;
}
.body .home div div ul li, .body .programs div div div:first-child ul li {
	background:url(../images/bullet2.png) no-repeat left center;
	padding:0 0 0 20px;
}
.body .home div div span, .body .services div div div div:first-child span, .body .contact div div div div:first-child form span {
	background-color:#FFF;
	border:1px solid #CCC392;
	border-radius:5px 5px 5px 5px;
	clear:both;
	display:inline-block;
	float:left;
	margin:15px 0;
	padding:2px;
}
.body .services div div div div:first-child span {
	margin: 0 0 55px;
}
.body .about div div div p a, .body .about div div.section div p a, .body .programs div div div:first-child h3 a, .body .programs div div div:first-child p a {
	color:#707070;
	font-weight:normal;
	text-decoration:underline;
}
.body .blog, .body .programs, .body .services, .body .contact {
	background:url(../images/bg-page-content2.png) no-repeat scroll left bottom transparent;
	padding:0 0 10px;
}
.body .blog div, .body .programs div, .body .services div, .body .contact div {
	background:url(../images/bg-page-content2-top.png) no-repeat scroll left top transparent;
	padding:6px 0 0;
}
.body .blog div div div:first-child h3 a, .body .blog div div div:first-child p a {
	font-weight:normal;
	text-decoration:underline;
	color:#707070;
}
.body .blog div div div:first-child h3 a:hover, .body .blog div div div:first-child p a:hover {
	color:#1e8480;
}
.body .programs div div div.section ul, .body .services div div div:first-child ul {
	list-style:none;
	margin:0;
	overflow:hidden;
	padding:0;
}
.body .services div div div:first-child ul {
	padding:0 0 12px;
}
.body .services div div, .body .contact div div {
	background:url(../images/bg-content.png) repeat-y scroll left top transparent;
	padding:0;
}
.body .services div div div:first-child h4, .body .contact div div div:first-child h4 {
	color:#334559;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:16px;
	font-weight:700;
	line-height:28px;
	margin:0;
	text-transform:uppercase;
}
.body .services div div div:first-child h3 a, .body .contact div div div:first-child h3 a {
	color:#1E8480;
	font-weight:700;
	text-decoration:none;
}
.body .services div div div:first-child ul li p a, .body .services div div div:first-child p a, .body .contact div div div:first-child p a {
	color:#707070;
	font-weight:normal;
	text-decoration:none;
	text-decoration:underline;
}
.body .services div div div:first-child p, .body .contact div div div:first-child p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:0 0 24px;
}
.body .services div div div div:first-child img {
	display:block;
	margin:0 0 9px;
}
.body .contact div div div:first-child p {
	margin:10px 0 0;
}
.body .services div div div div:first-child span a, .body .contact div div div div div span a {
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #FAF2C6;
	color:#8D7C20;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .services div div div div:first-child span a:hover, .body .contact div div div div div span a:hover {
	color:#8d7c20;
	background:url(../images/bullet.jpg) no-repeat scroll 105px center #f4ed9f;
}
.body .services div div div div:first-child span a:hover {
	color:#8d7c20;
	background:url(../images/bullet.jpg) no-repeat scroll 260px center #f4ed9f;
	display:block;
	float:none;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	line-height:26px;
	margin:0;
	padding:0 25px 0 8px;
	text-decoration:none;
	text-shadow:0 1px 0 #FEF9DF;
	text-transform:uppercase;
}
.body .services div div div div ul li:first-child, .body .contact div div div div div ul li:first-child {
	margin:0;
}
.body .services div div div div ul li p, .body .contact div div div div div ul li p {
	color:#707070;
	font-size:14px;
	line-height:24px;
	margin:0;
}
/*------------------------- Footer -------------------------*/
.footer {
	clear:both;
	margin-top:-40px;
}
.footer div {
	background-color:white;
	border-color:#cec596;
	border-style:solid none;
	border-width:2px;
	height:198px;
	margin:16px 0 0;
	overflow:hidden;
	padding:1px;
}
.footer div div:first-child {
	margin:0;
	width:420px;
}
.footer div div:first-child h4 {
	margin:0;
}
.footer div div {
	border:4px solid #3e4853;
	float:left;
	height:auto;
	margin:0 0 0 1px;
	min-height:179px;
	padding:11px 18px 0;
	width:202px;
}
.footer div div p {
	color: #6D737A;
	font-size: 12px;
	letter-spacing: 0;
	line-height: 24px;
	margin: 11px 0 14px;
	text-align: left;
}
.footer div div p a {
	background:none;
	color:#1e8480;
	display:inline;
	font-family:inherit;
	padding:0;
	text-decoration:none;
	text-transform:none;
}
.footer div div p a:hover {
	color:#1e8480;
	text-decoration:underline;
}
.footer div div a {
	background:url(../images/bullet3.png) no-repeat 115px center #28313b;
	border-radius:4px;
	color:#6d737a;
	display:block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	height:30px;
	line-height:31px;
	margin:0;
	padding:0 15px 0 0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:120px;
}
.footer div div a:hover {
	background:url(../images/bullet3.png) no-repeat 115px center #1e262f;
	border-radius:4px;
	color:#7b8999;
	display:block;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size:14px;
	height:30px;
	line-height:31px;
	margin:0;
	padding:0 15px 0 0;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	width:120px;
}
.footer div div h4 {
	color:#bca944;
	font-size:14px;
	font-weight:400;
	line-height:26px;
	margin:0 0 5px;
	text-transform:uppercase;
}
.footer div div ul {
	list-style:none;
	margin:0 0 40px;
	overflow:hidden;
	padding:0;
}
.footer div div ul li {
	float:left;
	width:100px;
}
.footer div div ul li a {
	background:none;
	display:inline;
	font-family:inherit;
	font-size:12px;
	height:auto;
	line-height:36px;
	margin:0;
	padding:0;
	text-transform:none;
	width:auto;
}
.footer div div ul li a:hover {
	background:none;
	display:inline;
	font-family:inherit;
	font-size:12px;
	height:auto;
	line-height:36px;
	margin:0;
	padding:0;
	text-transform:none;
	width:auto;
}
.footer div div.connect h4 {
	margin:0 0 11px;
}
.footer div div.connect a {
	background:none;
	font-size:12px;
	line-height:24px;
	margin:0 0 19px;
	padding:0 0 0 38px;
	text-align:left;
	text-transform:capitalize;
}
.footer div div.connect a#twitter {
	background:url(../images/icons.png) no-repeat 0 0;
	height:18px;
	line-height:20px;
}
.footer div div.connect a#twitter:hover {
	background:url(../images/icons.png) no-repeat 0 -19px;
}
.footer div div.connect a#facebook {
	background:url(../images/icons.png) no-repeat 0 -38px;
	height:22px;
}
.footer div div.connect a#facebook:hover {
	background:url(../images/icons.png) no-repeat 0 -61px;
}
.footer div div.connect a#googleplus {
	background:url(../images/icons.png) no-repeat 0 -84px;
	height:19px;
	line-height: 20px;
}
.footer div div.connect a#googleplus:hover {
	background:url(../images/icons.png) no-repeat 0 -104px;
}
.footer p {
	color:#9f9f9f;
	font-family:inherit;
	font-size:12px;
	letter-spacing:.02em;
	line-height:20px;
	margin:11px 0 20px;
	text-align:center;
}